<h2>Quizzes</h2>

<div class="input-group mr-4 mb-2 d-inline-flex" style="max-width:300px;">
  <input class="form-control" type="search" name="search" placeholder="Search" [(ngModel)]="search" (keyup)="filter()">
  <div class="input-group-append">
    <div class="input-group-text"><i class="fa fa-search"></i></div>
  </div>
</div>
<div *ngIf="filteredQuizzes.length === 0" class="d-inline-flex">
  <h4>No quizzes match this search criteria.</h4>
</div>
<table *ngIf="filteredQuizzes.length > 0" class="mt-3 table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Questions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quiz of filteredQuizzes" routerLink="/quizzes/{{quiz.id}}" (keydown.enter)="routerLink('/quizzes/' + quiz.id)">
      <td [innerHtml]="quiz.name"></td>
      <td>
        {{quiz.numberOfQuestions}}
      </td>
    </tr>
  </tbody>
</table>
