<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid main-content">
    <a class="navbar-brand" routerLink="/" (click)="collapse()">Flink</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-menu"
            aria-controls="navbar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu" [class.collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/quizzes" (click)="collapse()">Quizzes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="collapse()">About</a>
        </li>
      </ul>
      <ul *ngIf="!user.isSignedIn" class="navbar-nav navbar-right">
        <li *ngIf="!user.isSignedIn" class="nav-item">
          <a href="" (click)="signin($event)" class="nav-link">Sign in</a>
        </li>
      </ul>
      <ul *ngIf="user.isSignedIn" class="navbar-nav navbar-right">
        <li *ngIf="user.isSignedIn" class="nav-item">
          <a class="nav-link" routerLink="/account" (click)="collapse()">
            {{user.name}}
            <img [src]="user.picture" alt="profile" class="ml-2 border border-dark rounded-circle profile" />
          </a>
        </li>
        <li *ngIf="user.isSignedIn" class="nav-item">
          <a href="" (click)="signout($event)" class="nav-link">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
