@import "~headspring-bootswatch-theme/dist/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import "~headspring-bootswatch-theme/dist/scss/bootswatch";

.shadow {
  box-shadow: 5px 5px 10px #888888;
}

label {
  font-size: 1rem;
}

// Show mouse pointer when hovering over a highlighted table row
table.table-hover tr:hover {
  cursor: pointer;
}

// Make dropdowns automatically drop down content hover
.dropdown:hover .dropdown-menu {
  display: block;
}

// Fix dropdown margins
.dropdown-menu {
  margin: 0;
}

// Fix label alignment in lists
li > label {
  display: block;
}

// Small phones
@include media-breakpoint-only(xs) {
  .main-content {
    width: 100%;
  }
}

// Phones
@include media-breakpoint-only(sm) {
  .main-content {
    width: 560px;
  }
}

// Tablets
@include media-breakpoint-only(md) {
  .main-content {
    width: 750px;
  }
}

// Tablets And Phones
@include media-breakpoint-down(md) {
  .btn {
    display: block;
    width: 100%;
    width: 80%;
    margin: 0 auto;
  }

  .btn + .btn {
    margin-top: 10px;
  }
}

// Desktops
@include media-breakpoint-only(lg) {
  .main-content {
    width: 970px;
  }
}

// Large Desktops
@include media-breakpoint-only(xl) {
  .main-content {
    width: 1170px;
  }
}
