<div *ngIf="quiz != null">
  <h2 [innerHtml]="quiz.name"></h2>

  <div *ngIf="quiz.questions.length != 0">
    <ol>
      <li *ngFor="let question of quiz.questions; let lst = last;">
        <label
          id="{{question.id}}_text"
          for="{{question.id}}_input"
          [innerHtml]="question.text">
        </label>
        <div *ngIf="question.imageBase64">
          <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(question.imageBase64)" [alt]="question.imageAltText">
        </div>
        <div [ngSwitch]="question.type">
          <div *ngSwitchCase="questionTypes.checkbox">
            <div class="custom-control custom-checkbox"
                 *ngFor="let answerChoice of question.answerChoices">
              <input type="checkbox"
                     class="custom-control-input"
                     id="{{question.id}}_{{answerChoice.id}}_input"
                     name="{{question.id}}"
                     [value]="answerChoice.text"
                     (change)="onSelectionChange(question, answerChoice)" />
              <label class="custom-control-label"
                     for="{{question.id}}_{{answerChoice.id}}_input"
                     [attr.aria-describedby]="question.id + '_' + answerChoice.id + '_input'">
                {{answerChoice.text}}
                <span *ngIf="answerChoice.imageBase64">
                  <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(answerChoice.imageBase64)" [alt]="answerChoice.imageAltText">
                </span>
              </label>
            </div>
          </div>
          <div *ngSwitchCase="questionTypes.choice">
            <div class="custom-control custom-radio"
                 *ngFor="let answerChoice of question.answerChoices">
              <input type="radio"
                     class="custom-control-input"
                     id="{{question.id}}_{{answerChoice.id}}_input"
                     name="{{question.id}}"
                     [value]="answerChoice.text"
                     (change)="onSelectionChange(question, answerChoice)" />
              <label class="custom-control-label"
                     for="{{question.id}}_{{answerChoice.id}}_input"
                     [attr.aria-describedby]="question.id + '_' + answerChoice.id + '_input'">
                  {{answerChoice.text}}
                  <span *ngIf="answerChoice.imageBase64">
                    <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(answerChoice.imageBase64)" [alt]="answerChoice.imageAltText">
                  </span>
              </label>
            </div>
          </div>
          <div *ngSwitchCase="questionTypes.number">
            <input type="number"
                   class="form-control"
                   id="{{question.id}}_input"
                   name="{{question.id}}_input"
                   [attr.aria-describedby]="question.id + '_text'"
                   (change)="onChange(question, $event)" />
          </div>
          <div *ngSwitchCase="questionTypes.text">
            <input type="text"
                   class="form-control"
                   id="{{question.id}}_input"
                   name="{{question.id}}_input"
                   [attr.aria-describedby]="question.id + '_text'"
                   (change)="onChange(question, $event)" />
          </div>
          <div *ngSwitchDefault>
            <p class="text-danger">No layout defined for question of type {{question.type}}.</p>
          </div>
        </div>
        <hr *ngIf="!lst" />
      </li>
    </ol>
    <br />
    <button type="submit" class="btn btn-success" (click)="onSubmitClicked()">Submit</button>
    <button type="button" class="btn btn-default" routerLink="/quizzes">Back To List</button>
  </div>
  <div *ngIf="quiz.questions.length == 0">
    <p class="text-muted">There are no questions yet.</p>
    <button type="button" class="btn btn-default" routerLink="/quizzes">Back To List</button>
  </div>
</div>
