<div *ngIf="result !== null && message.text !== null">
  <h2 [innerHtml]="result.name"></h2>
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="{{message.iconPath}}" alt="letter grade"/>
    </div>
    <div class="col-md-9">
      <h2>{{message.text}}</h2>
    </div>
  </div>
  <br/>
  <div class="progress" style="height: 40px; border-radius: 10px;">
    <div class="progress-bar"
         role="progressbar"
         [style.width]="message.progressBar.percent + '%'"
         [style.background-color]="message.progressBar.currentColor().toString()"
         [style.color]="'black'"
         [attr.aria-valuenow]="message.progressBar.percent"
         aria-valuemin="0"
         aria-valuemax="100">{{message.progressBar.percent}}%</div>
  </div>
  <br />
  <div *ngIf="result.percentCorrect != 100">
    <h4>Here's what you got wrong.</h4>
    <ul>
      <li *ngFor="let question of incorrect">
        <div>
          Question: <span [innerHtml]="question.text"></span>
        </div>
        <div *ngIf="question.imageBase64">
          <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(question.imageBase64)" [alt]="question.imageAltText">
        </div>
        <div>
          <ul class="fa-ul">
            <li>
              <i class="fa-li fa fa-check-circle"></i>
              <div>
                <span [innerHtml]="question.correctResponses.length === 1 ? 'Correct Answer: ' : 'Correct Answers: '"></span>
                <span>
                  <span *ngFor="let correctResponse of question.correctResponses" class="d-block">
                    <span *ngIf="correctResponse.text" class="d-block">
                      "<span [innerHtml]="correctResponse.text"></span>"
                    </span>
                    <span *ngIf="correctResponse.imageBase64" class="d-block">
                      <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(correctResponse.imageBase64)" [alt]="correctResponse.imageAltText">
                    </span>
                  </span>
                </span>
              </div>
            </li>
            <li class="text-danger">
              <i class="fa-li fa fa-times-circle"></i>
              <div>
                <span [innerHtml]="question.responses.length === 0 ? 'Oops, you forgot to answer!' : 'Your Answer: '"></span>
                <span>
                  <span *ngFor="let response of question.responses" class="d-block">
                    <span *ngIf="response.text" class="d-block">
                      "<span [innerHtml]="response.text"></span>"
                    </span>
                    <span *ngIf="response.imageBase64" class="d-block">
                      <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(response.imageBase64)" [alt]="response.imageAltText">
                    </span>
                  </span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="result.percentCorrect != 0">
    <h4>Here's what you got right.</h4>
    <ul>
      <li *ngFor="let question of correct">
        <div>
          Question: <span [innerHtml]="question.text"></span>
        </div>
        <div *ngIf="question.imageBase64">
          <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(question.imageBase64)" [alt]="question.imageAltText">
        </div>
        <div>
          <ul class="fa-ul">
            <li class="text-success">
              <i class="fa-li fa fa-check-circle"></i>
              <div>
                <span [innerHtml]="question.responses.length === 1 ? 'Answer: ' : 'Answers: '"></span>
                <span>
                  <span *ngFor="let response of question.responses" class="d-block">
                    <span *ngIf="response.text" class="d-block">
                      "<span [innerHtml]="response.text"></span>"
                    </span>
                    <span *ngIf="response.imageBase64" class="d-block">
                      <img class="mb-4 mw-100 border shadow" [src]="sanitizedImgDataSrc(response.imageBase64)" [alt]="response.imageAltText">
                    </span>
                  </span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <br />
  <button type="button" class="btn btn-default" routerLink="/quizzes">Back To List</button>
</div>
